body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff6ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #c71585; /* Fucsia */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  text-decoration: underline;
}

.buscador {
  text-align: center;
  margin: 2em 0;
}

.buscador input {
  padding: 0.5em;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.buscador button {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #c71585;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.buscador button:hover {
  background-color: #ff69b4;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 1em;
}

.tarjeta {
  width: 250px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  padding: 1em;
}

.tarjeta img {
  width: 100%;
  border-radius: 12px;
}

.btn-favorito {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.btn-favorito:hover {
  background-color: #c71585;
}
